In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
from pandas.plotting import scatter_matrix
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [2]:
data=pd.read_csv("cardio_train.csv")

In [3]:
data

      id;age;gender;height;weight;ap_hi;ap_lo;cholesterol;gluc;smoke;alco;active;cardio
0                988;22469;1;155;69.0;130;80;2;2;0;0;1;0
1                989;14648;1;163;71.0;110;70;1;1;0;0;1;1
2                990;21901;1;165;70.0;120;80;1;1;0;0;1;0
3                991;14549;2;165;85.0;120;80;1;1;1;1;1;0
4                992;23393;1;155;62.0;120;80;1;1;0;0;1;0
...                                                  ...
69296          99993;19240;2;168;76.0;120;80;1;1;1;0;1;0
69297         99995;22601;1;158;126.0;140;90;2;2;0;0;1;1
69298         99996;19066;2;183;105.0;180;90;3;1;0;1;0;1
69299          99998;22431;1;163;72.0;135;80;1;2;0;0;0;1
69300          99999;20540;1;170;72.0;120;80;2;1;0;0;1;0

[69301 rows x 1 columns]

In [4]:
data.count()

id;age;gender;height;weight;ap_hi;ap_lo;cholesterol;gluc;smoke;alco;active;cardio    69301
dtype: int64

In [7]:
data.size

69301

In [9]:
data.head()

  id;age;gender;height;weight;ap_hi;ap_lo;cholesterol;gluc;smoke;alco;active;cardio
0            988;22469;1;155;69.0;130;80;2;2;0;0;1;0
1            989;14648;1;163;71.0;110;70;1;1;0;0;1;1
2            990;21901;1;165;70.0;120;80;1;1;0;0;1;0
3            991;14549;2;165;85.0;120;80;1;1;1;1;1;0
4            992;23393;1;155;62.0;120;80;1;1;0;0;1;0

In [10]:
data.tail()

      id;age;gender;height;weight;ap_hi;ap_lo;cholesterol;gluc;smoke;alco;active;cardio
69296          99993;19240;2;168;76.0;120;80;1;1;1;0;1;0
69297         99995;22601;1;158;126.0;140;90;2;2;0;0;1;1
69298         99996;19066;2;183;105.0;180;90;3;1;0;1;0;1
69299          99998;22431;1;163;72.0;135;80;1;2;0;0;0;1
69300          99999;20540;1;170;72.0;120;80;2;1;0;0;1;0

KeyError: "None of [Index(['ap_lo'], dtype='object')] are in the [columns]"